APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=false

DBX_SCHEMA=dbx_data_platform_poc.ui_metadata
SPARK_APP_NAME=dataflow-api
SPARK_MASTER=local[*]

DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_CLUSTER_ID=
DATABRICKS_PORT=15001
